<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>更新员工</title>

	</head>
<script type="text/javascript">
        var phoneWidth =  parseInt(window.screen.width);
        var phoneScale = phoneWidth/640;
        var ua = navigator.userAgent;
        if (/Android (\d+\.\d+)/.test(ua)){
            var version = parseFloat(RegExp.$1);
            if(version>2.3){
                document.write('<meta name="viewport" content="width=640, minimum-scale = '+phoneScale+', maximum-scale = '+phoneScale+', target-densitydpi=device-dpi">');
            }else{
                document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
            }
        } else {
            document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
        }
</script>

<p align="center" style="font-family:黑体; font-size:25px">职员信息修改</p>
<form method="post">
    {% csrf_token %}
<table border=0 align="center"; style="font-family:仿宋; font-size:25px">
    {% for people in people_list %}
<th>姓名</th>
            <td class="gray"><input name="name" type="text" placeholder="{{people.name}}" class="mm"></td>
            </tr>
            <tr>
         	<th>性别</th>
            <td class="gray"><input name="sex" type="text" placeholder="{{people.sex}}" class="mm"></td>
	  </tr>
            <th>工龄</th>
           <td class="gray"><input name="year" type="text" placeholder="{{people.year}}" class="mm"></td>
        </tr>
        <tr>
            <th>职务</th>
            <td class="gray"><input name="job" type="text" placeholder="{{people.job}}" class="mm"></td>
              </tr>
        <tr>
            <th>部门</th>
            <td class="gray"><input name="department" type="text" placeholder="{{people.department}}" class="mm"></td>
              </tr>
    {% endfor %}
</table>
<p align="center" >
    <td class="gray" ><input type="submit" value="保存" style="font-family:黑体; font-size:15px"><a href="/main/"><input type="reset" value="重填" style="font-family:黑体; font-size:15px"></a></td>
</p>
</form>
</body>
</html>